

.container{
    width: 100%;
    height: 100vh;
    min-height: 800px;
    border: none;
}

.mat-drawer-side {
     border-right: none; 
}

.mat-drawer {
    background-color: none; 
     color: rgba(0,0,0,.87); 
}


.mobileContainer {
    min-height: 100vh;
    height: auto;
    display: block;
}

.main{
    height: 100%;
    max-height: 120vh;
    margin-left: 0;
}


@media screen and (min-width : 950px) {

    app-side-bar{
        position: absolute;
        height: 100%;
        min-height: 400px;
    }
    .main{
        margin-left: 100px;
    }
   
    
}
