.container {
   padding-top: 10%;
   padding-left:30%;
   padding-right: 30%;
}
.box {
  display: grid;
  place-items: center;
  background-color: white;
  padding-bottom: 60px;
  padding-top: 10px;
  border-radius: 22.5px;
  border: 1px solid black;
  box-shadow: -2px 3px 20px 4px #453a74;
  width: 400px;
}
.input {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  width: 80%;
}
.boton {
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(68, 3, 142);
  border: none;
  box-shadow: 1px 2px 10px #555;
  width: 100px;
  padding:10px;
  color: white;
}
.res {
  margin-top: 10%;
  font-size: 140%;
  color: rgb(23, 126, 2);
}
.title{
background-color: #241a56;
text-align: center;
color: #FFF;
width: 100%;
height: 92%;
padding-top: 10px;
font-weight: bold;
border-radius: 20.5px 20.5px 0 0;
letter-spacing: 1px;
}
label{
  color:rgb(107, 107, 107);
}

@media(max-width: 620px){
.container{
  padding-left: 5%;
  padding-right: 5%;
}
  .box{
  width:100%;
}
.input{
  width: 80%;
}
  .title{
  width:100%;
 
}
}