
<app-tool-bar></app-tool-bar>

<app-terms-and-conditions
[canLook]="canLook"
(onView)="viewTerms()"
*ngIf="canLook"></app-terms-and-conditions>

<div class="contenedor">

    <article>
        <router-outlet></router-outlet>
    </article>


    <div class="registerForm">

        <h2 class="titulo">Registrarse</h2>

        <form [formGroup]="registroForm" (ngSubmit)="register()">


          
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput  formControlName="first_name"  type="text" id="fisrtName_Input" placeholder="Introduce tu nombre"
                    required>
                    <mat-error *ngIf="registroForm.controls.first_name.touched&& registroForm.controls.first_name.errors">Nombre obligatorio</mat-error>
                </mat-form-field>
                   
          

            
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="last_name"  type="text" id="lastName_Input" placeholder="Introduce tu apellido"
                    required>
                    <mat-error *ngIf="registroForm.controls.last_name.touched&& registroForm.controls.last_name.errors">Apellido obligatorio</mat-error>
                </mat-form-field>
                
            

            
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput  formControlName="email" type="email" id="emailInput" placeholder="E-mail"
                    required>
                    <mat-error *ngIf="registroForm.controls.email.touched&& registroForm.controls.email.errors">Correo electrónico obligatorio</mat-error>
                </mat-form-field>
              
          
            
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" id="passwordInput"
                    placeholder="Ingresa tu contraseña" required minlength="6">
                    <mat-error *ngIf=" registroForm.controls.password.touched && registroForm.controls.password.errors">Contraseña obligatoria</mat-error>
                </mat-form-field>
               
              
               
            

            <div class="terms">
                
                <input type="checkbox" name="Terminos" id="Terminos"
                       formControlName="terms">
             
                <a class="terms" (click)="viewTerms()" >terminos y condiciones</a>
            
                <mat-error class="invalidTerms" *ngIf="registroForm.controls.terms.touched && registroForm.controls.terms.invalid"> Los terminos son obligatorios</mat-error>
            </div>

            <button class="btnRegister" [disabled]="registroForm.invalid">Registrarme</button>

            <a routerLink="/login" class="tengoCuenta">Ya tengo una cuenta</a>
            <mat-error *ngIf="invalidEmailOrPassword">Ya hay un usuario con ese correo electrónico</mat-error>
        </form>

    </div>
</div>

