.container{
    max-width: 980px;
    margin-inline: auto;
    background: transparent;
   /*  padding: 100px 15px; */
    border-radius: 10px;
}

hr{
    margin-top: 20px;
}
.btns_action{
    display: flex;
    gap:10px
}
.accordion-panel{
    padding: 7px 21px;
    margin-bottom: 24px;
    border: solid 1px #777e91;
    border-radius: 10px;
    background-color: rgba(102, 89, 168, 0.7098039216);
    box-shadow: 0px 0px 10px #574a8d;
    p{
        margin-top: 10px;
        color: #73ff82;
    }

    .negative{
        color: yellow;
    }

}
.accordion-panel:hover{
    transition: .5s all ease;
    box-shadow: 0px 0px 10px #602fff;
    transform: translateY(-5px);
}
.accordion input{
    display: none;
}
.accordion label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #f4f5f6;
    cursor: pointer;
    transition: color 0.25s;
    font-size: 20px;
}


.amountContainer{
    min-width: 170px;
}

.accordion i{
    color:#73ff82
}
.accordion .close , .accordion input:checked + label .open{
    display: none;
}
.accordion input:checked + label .close {
    display: block;
}

.accordion-body{
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    font-size: 18px;

}
.accordion-answer{
    font-size: 18px;
    color: #fdfdff;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: opacity 0.75s, transform 0.15s;
  

}
.accordion input:checked ~ .accordion-body{
    height: max-content;
}
.accordion input:checked ~ .accordion-body
    .accordion-answer {
 opacity: 1;
 transform: scale(1);   
}

  .accordion-cerrar{
    margin-bottom: 24px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 5%;
    justify-content: center;
    display: flex;
    }   


    #cerrar_art {
        display: none;
    }

    .input_movement:checked ~ label #cerrar_art {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        direction: rtl;
    }
    .btn_container{
        display: flex;
        justify-content: flex-end;
    }
    .eliminar_contacto{
        border-radius: 10px;
        border: none;
        width: 5.5rem;
        position: relative;
        background-color:#f44336;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 20px 50px #555;
    }
    .btn_edit:hover{
        transform: scale(1.1);
    }
        
    .div_btn_added{
        display: flex;
        justify-content: center;
    }
    .btn_added{
        border-radius: 10px;
        border: none;
        width: 5.5rem;
        position: relative;
        top: 2rem;
        background-color: lightgreen;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s all ease;
        perspective: 900px;
        animation: entry 1s linear 1;
    }

    .btn_added:hover , .close_modal:hover , .btn_submit:hover {
        transform: rotate(0deg) scale(1) translateY(-7px);
        transition: .5s all ease;
        z-index: 400;
    }

    label.label_cerrar{
        width: 100%;
    }
    
    $shadowBox:-2px 3px 20px 4px #453a74;
    


.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 277px;
    width: 600px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: -2px 3px 20px 4px #453a74;
    margin: auto;
    position: relative;
    bottom: 2rem;
}

.header{
    display: flex;
    background-color: #7768b7;
    height: 80px;
    width: 100%;
    border-radius: 31px 31px 0 0 ;
    align-items: center;
    app-title{
        width: 100%;
    }
}

.main{
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

::ng-deep.title{
    margin-top: 0;
}


.inputs_container{
    display: flex;
    gap: 1rem
}
.form_reset h3 {
    width: 100%;
    background-color: #4b007a;
    position: relative;
    bottom: 2rem;
    border-radius: 10px 10px 0 0;
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 1px
}
.main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}
.close_modal , .btn_submit{
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all ease;
    perspective: 900px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear;

}
.btn_submit{
background-color: rgb(56, 185, 90);
color: rgb(254, 254, 254) !important;
}
.close_modal{
background-color: #ea1f1f;
color: white;
}
.enviar_plata{
    border-radius: 10px;
    border: none;
    width: 5.5rem;
    position: relative;
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 20px 50px #555;
}
.btns{
    display: flex;
    gap: 1rem;
}
@media (max-width:650px) {
    .card{
        width: 90%;
    }
    .inputs_container{
        gap: 0;
        flex-direction: column;
    }
    .container{
        padding-bottom: 0;
        padding-top: 0;
    }
        
 }