<div class="container_table">
    <app-title></app-title>
    <table class="table_egresos">
    <thead class="header_table">
        <tr>
        <th>N°Trans.</th>
        <th>Creado</th>
        <th>Cantidad</th>
        <th>updatedAt</th>
        <th>to_account_id</th>
        <th>Concepto</th>
        <th>type</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{item.createdAt | date: 'short' }}</td>
          <td>{{item.amount | currency }}</td>
          <td>{{ item.updatedAt  | date: 'short' }}</td>
          <td>{{ item.to_account_id}}</td>
          <td>{{ item.concept }}</td>
          <td>{{ item.type }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>