
.container{
    max-width: 980px;
    margin-inline: auto;
    background: transparent;
    padding: 100px 15px;
    border-radius: 10px;
}

hr{
    margin-top: 20px;
}
.accordion-panel{
    padding: 7px 21px;
    margin-bottom: 24px;
    
    border-radius: 10px;
    background-color: rgba(102, 89, 168, 0.7098039216);
   
    p{
        margin-top: 10px;
        color: #73ff82;
    }

    .negative{
        color: yellow;
    }

}
.accordion-panel:hover{
    transition: .5s all ease;
    box-shadow: 0px 0px 10px #602fff;
    transform: translateY(-5px);
}
.accordion input{
    display: none;
}
.accordion label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #f4f5f6;
    cursor: pointer;
    transition: color 0.25s;
    font-size: 20px;
}
// .accordion label:hover,
// .accordion input:checked + label {
//     color: #73ff82;
// }

.amountContainer{
    min-width: 170px;
}

.accordion i{
    color:#73ff82
}
.accordion .close , .accordion input:checked + label .open{
    display: none;
}
.accordion input:checked + label .close {
    display: block;
}

.accordion-body{
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    font-size: 18px;

}
.accordion-answer{
    font-size: 18px;
    color: #fdfdff;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: opacity 0.75s, transform 0.15s;
  

}
.accordion input:checked ~ .accordion-body{
    height: max-content;
}
.accordion input:checked ~ .accordion-body
    .accordion-answer {
 opacity: 1;
 transform: scale(1);   
}

  .accordion-cerrar{
    margin-bottom: 24px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 5%;
    justify-content: center;
    display: flex;
    }   


    #cerrar_art {
        display: none;
    }

    .input_movement:checked ~ label #cerrar_art {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        direction: rtl;
    }
    .btn_container{
        display: flex;
        justify-content: flex-end;
    }
    .btn_edit{
        border-radius: 10px;
        border: none;
        width: 5.5rem;
        position: relative;
        bottom: 10px;
        right: 14px;
        background-color: #F889AA;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: 0.5s;
        background-size: 200% auto;
        color: #fff;
        box-shadow: 0 0 10px #eee;
    }
    .btn_edit:hover{
        transform: scale(1.1);
    }
        
    .div_btn_added{
        display: flex;
        justify-content: center;
    }
    .btn_added{
        border-radius: 10px;
        border: none;
        width: 5.5rem;
        position: relative;
        top: 2rem;
        background-color: lightgreen;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: .5s all ease;
        perspective: 900px;
        // box-shadow: 0px 10px 10px #555;
        animation: entry 1s linear 1;
    }

    .btn_added:hover {
        transform: rotate(0deg) scale(1) translateY(-7px);
        transition: .5s all ease;
        z-index: 400;
    }

    @media (max-width:390px){
        .btn_edit{
            position: initial;
            margin-right: 5px;
            margin-top: 1rem;
        }
    }
label.label_cerrar{
    width: 100%;
}


$shadowBox:-2px 3px 20px 4px #453a74;



.card{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: auto;
    max-width: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: $shadowBox;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #271d54;
    height: 80px;
    width: 100%;
    border-radius: 31px 31px 0 0 ;
    align-items: center;
    app-title{
        width: 100%;
    }
}

.main{
    height: 100%;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius:0 0 31px 31px ;
}

::ng-deep.title{
    margin-top: 0;
}

@media (min-height:500px) {
    .container{
        padding-bottom: 0;
        padding-top: 0;
    }
    
}
.accordion{
     height: 80vh;
     width: 100%; 
     overflow-y: scroll;
}
.accordion::-webkit-scrollbar{
   width: 7px;
}
.accordion::-webkit-scrollbar-thumb{
    background-color: #3c036d;
    border-radius: 5px;
 }