<div class="container_about">
  <div class="container_imgs">
  <h2 class="title">CodeBusters</h2>
  <div class="img_img" *ngFor="let user of users">
    <img class="img_perfil" src="{{ user.photoUrl }}" alt="img" (click)="showUserInfo(user)">
  </div>
</div>

<div class="user-info" *ngIf="selectedUser">
  <h3 class="title_user">{{ selectedUser.name }}</h3>
  <p class="descr">{{ selectedUser.info }}</p>
  <div class="social_content">
    <a href="{{ selectedUser.linkedin }}"  class="social">Linked <i id="linkedin" class="bx bxl-linkedin"></i></a>
    <a href="{{selectedUser.github}}" class="social"><i id="git" class="bx bxl-github"></i> GitHub </a>
  </div>
<!--   <button  (click)="hideUserInfo()" class="btn_return">Return <mat-icon>keyboard_return</mat-icon></button> 
 -->  <button  (click)="hideUserInfo()" class="btn_return">Return <mat-icon>arrow_circle_left</mat-icon></button> 
 
</div>
</div>