div.container_about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    place-content: center;
    height: 50%;
    place-items: end;
    position: relative;
    top: 7rem;
    margin: 10px;

}
.title{
  flex-basis: calc(80% - (-30px));
  background: linear-gradient(90deg, #8f47e6 0%, #6d54e9 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: xx-large;
  line-height: normal;
  border-bottom: solid 1px darkslateblue;
  filter: drop-shadow(4px 4px 4px darkblue);
  
}
div.container_imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  place-content: center;
  height: 80%;
  place-items: end;
  position: relative;
  top: 0rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgb(0 0 0 / 68%);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px darkslateblue;

}
/* div.container_imgs::before{
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 1;
    background-color: #0000005c;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px darkslateblue;
} */
div.img_img{
    width: 6rem;
    border-radius: 50%;
   transition: 0.5s ease-in-out;
   flex-basis: calc(50% - 200px);
}
.container_imgs > div:nth-child(1) {
    animation: hide 0.4s ease-in-out;
}
  
.container_imgs > div:nth-child(2) {
    animation: hide 0.5s ease-in-out;
}
.container_imgs > div:nth-child(3) {
    animation: hide  0.7s ease-in-out;
}
.container_imgs > div:nth-child(4) {
    animation: hide 0.9s ease-in-out;
}
.container_imgs > div:nth-child(5) {
    animation: hide 1.4s ease-in-out;
}
.container_imgs > div:nth-child(6) {
    animation: hide 1.5s ease-in-out;
}
img.img_perfil{
    border-radius: 50%;
    width: 50%;
    box-shadow: 2px 2px 10px beige;
    border: 6px solid darkslateblue; 
    background-clip: padding-box;
    background-image: linear-gradient(to right, #4776e6 0%, #e954e2 75%);
    animation: cambio-color 2s infinite alternate; /* agregamos la animación */
}
@keyframes cambio-color {
    0% { border-color: #cb54e9; }
    50% { border-color: #b81ddf; }
    100% { border-color: #6247e6; }
  }
div.img_img:hover{
    transform: rotate(-4deg);
    scale: 1.1;
}
.user-info {
    z-index: 2;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    gap: 10px;
    box-shadow: 0 0 2rem rgb(88 2 138 / 52%);
    padding: 20px;
    background-color: #201f34;
    border-radius: 20px;
    justify-content: space-evenly;
    animation: hide 0.5s ease-in-out;
    top: -1rem;
    min-height: 26rem;
    border-right-style: solid;
    border-top-style: solid;
  }
  .social_content{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .social{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-right: groove;
    border-bottom-style: groove;
    background-color: aliceblue;
    box-shadow: 0 0 2rem rgb(88 2 138 / 52%);
    cursor: pointer;
    font-size: medium;
    text-decoration: none;
  }
  .social:hover{
    border-right: none; 
    border-bottom-style: none;
    border-left: groove;
    border-top-style: groove;
    box-shadow: 0 2px 2rem rgb(164 6 255);
  }
  .social i {
    line-height: unset;
  }
  #linkedin{
    background-color: lightblue;
    border-radius: 2px;
  }
  .title_user{
    background: linear-gradient(90deg,#4776e6 0%,#e954e2 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: xx-large;
    line-height: normal;
    border-bottom: solid 1px darkslateblue;
  }
  .descr{
    color: aliceblue;
    -webkit-text-stroke-width: thin;
    animation: hide 0.5s ease-in-out;
    padding: 10px;
    border: 1px solid darkslateblue;
  }
  .btn_return{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 60%;
    place-self: center;
  }
  .btn_return:hover ,.btn_return:hover ~ mat-icon{
    transform: scale(0.99);
    box-shadow: 0 2px 2rem #e555e2;
  }
  .btn_return mat-icon {
    line-height: 28px;
    color: darkslateblue;
  }

  @keyframes hide{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
  }


@media (max-width:1140px){
    div.img_img{
        flex-basis: calc(50% - 131px);
    }
}
@media (max-width:950px){
    div.container_about{
        margin-right: 1rem;
    }
    div.img_img{
        flex-basis: calc(60% - 131px);
    }
}
@media (max-width:800px){
  
    div.img_img{
        flex-basis: calc(60% - 110px);
    }
}
@media (max-width:750px){
  .title{
    display: none;
  }
    div.container_imgs{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        place-content: center;
        height: 80%;
        place-items: end;
        position: absolute;
        top: 7rem;
        background-color: #202124;
        border-radius: 20px;
        margin: 0 auto;
        z-index: 1;
        display: inline-grid;
        left: 0;
        box-shadow: 2px 2px 10px #673ab7;
    }
    .user-info{
        height: 19rem;
        position: absolute;
        width: 70%;
        margin: 0 auto;
        left: 6rem;    
        height: 80%;
        top: 20%;
        gap: 1rem;
    }
    div.container_about{
        gap: 15px;
        place-content: center;
        height: 80%;
        place-items: end;
        position: absolute;
        top: 3rem;
        border-radius: 20px;
        margin: 0 auto;
        z-index: 1;
        display: inline-grid;
        left: 0;
        width: 100%;
        background: transparent;
    }
}
@media (max-width:500px){
     .user-info{
        gap: 0;
        left: 2.5rem;
    } 
}
@media (max-width:400px){
     .user-info{
        gap: 0;
        left: 0.5rem;
        width: 80%;
    } 
}

