$blueViolet :#6A5DAE;
// $gradiant:linear-gradient(264deg,#1f1f34,#3b0c70,#1f1f34);
// $gradiant:linear-gradient(264deg,#1f1f34,#120782,#1f1f34);
$gradiant:linear-gradient(264deg,#1f1f34,#2c173c,#1f1f34);

hr{
    width: 50%;
    margin:0
}


.hover{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 45px;
    border-radius: 25px;
    transition: all 400ms ease;
}


.sideBar, .sideBarMovile{
    background-image: $gradiant;
    // background-color: rgb(31, 31, 52);
    margin-bottom: 0.48rem;
    padding-left: 1.5rem;
    height: 100%;
    width: 4.5rem;
    z-index: 100;

    overflow: hidden;
    position: fixed;

    transition: all 400ms ease-in-out;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    p{
        cursor: pointer;
        color: white;
        font-size: 18px;
        margin: 0;
        visibility: hidden;
        width: 100%;
    }

}

.sideBarTop{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 15%;
    justify-content: center;
}

.sideBarMain{
    
    height: 70%;
   
    ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
    }  

    li{
        transition: all 400ms ease;
        align-items: center;
        display: flex;
        gap: 15px;
        height: 45px;
        width: auto;
        border-radius: 25px;
    }
}





.sideBarBottom{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 15%;
    justify-content: center;
}

.sideBar:hover{
    width: 13rem;

    hr{
        width: 90%;
    }
    p{
        visibility: visible;
    }

    li:hover,.hover:hover{
        background-color: rgba(0, 0, 0, 0.837);


        p, mat-icon{
            color: rgb(0, 255, 68);
        }

    }

}


.active{
    p, mat-icon{
        color: rgb(0, 255, 68);
    }
}

mat-icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    height: 35px;
    width: 70px;
    text-align: center;
}

.ToolBar{
    display: none;

    mat-toolbar{
        background-image: linear-gradient(261deg,#1f1f34,#2c173c,#1f1f34);

        button{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}

.sideBarMovile{
    display: none;
}

@media screen and (max-width:950px) {
    .sideBarMovile{
        display: none;
        border-radius: 0; 
        margin: 0;
        height: 90%;
        width: 12rem;
        position: absolute;

        ul{
            gap:3px
        }

        hr{
            width: 90%;
        }
        p{
            visibility: visible;
        }
        display: none;
    }

    .sideBar{
        display: none;
        // position: absolute;
    }
    
    .sideBarBottom, .sideBarTop{
        height: 30px;
    }

    .ToolBar{
        display: block;
    }
}
