
::ng-deep.mat-dialog-container {
  //background-color: hsl(252, 96%, 74%);
  background-color: #FAFAFB;
  display: flex;
  justify-content: center;
  border-radius:20px;
  border: 1px solid black;
  
}
::ng-deep.mat-dialog-container::-webkit-scrollbar{
  width: 0%;
  }
.input_pass{
border-radius: 10px;
width: 9.7rem;
height: 1.3rem;
border: hidden; 
padding: 7px;

}
.input_pass:focus{
  border-radius: 10px;
  outline: none;
  border: 2px solid #FFF;
  box-shadow: 0 0 10px #201b33;
 
}
div.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
    font-weight: bolder;
    font-family: sans-serif;
    
}

.small_error{
  color: rgb(255, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  text-align: -webkit-center;
}
.form_reset{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_reset label {
  -webkit-text-stroke-width: thin;
  font-family: math;
}
.div_container{
  display: flex;
  padding: 50px;
}
.icon_eye{
  margin: -2%;
  cursor: pointer;
}
.icon_eye:hover{
  scale: 1.1;
  filter:drop-shadow( 
   4px 4px 4px wheat
  )  
}