form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-left: 0;
}

.invalid{
  color: red;
  margin-bottom: 5px;
}

.save_button{
  text-align: end;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

button{
  border-radius: 10px;
  border: none;
  width: 5.5rem;
  background-color: lightgreen;
  padding: 10px;
  display: flex;
  height: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  transition: .5s all ease;
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1 ;
}

button:hover {
  transform: rotate(0deg) scale(1) translateY(-7px);
  transition: .5s all ease;
  z-index: 400;
}



::ng-deep .mat-calendar-body-cell-content{
  position: absolute;
  color: rgb(3, 3, 3)!important;
}

::ng-deep .mat-calendar-table-header{
  color: rgb(0, 0, 0);
}

@media (min-width: 700px) {


  
}

mat-form-field{
  margin-bottom: 10px;
}