<div class="container">
<div class="card">
        <div class="header">
            <h2 class="titulo">¿Cómo recibir pagos en distintas monedas?</h2>
        </div>
        <div class="main">
            <p>
                Por el momento, AlkyBank permite pagos solamente en moneda local. Es decir, la cuenta creada en Argentina solo acepta pagos en pesos argentinos (ARS) y de clientes que tengan una cuenta del mismo país.
            </p>
        </div>
</div>
<div class="card">
    <div class="header">
        <h2 class="titulo">¿Cómo funcionan los pagos internacionales con AlkyBank?</h2>
    </div>
    <div class="main">
        <p>
            Con AlkyBank, es posible aceptar pagos con tarjetas internacionales de crédito y débito. El comprador siempre abona los productos al precio de la moneda del vendedor, y la conversión es realizada por la institución financiera responsable de la emisión del pago. En esta transacción, el vendedor siempre recibe el pago en su moneda local, es decir, en la monera registrada en su cuenta de AlkyBank.
        </p>
    </div>
</div>
<div class="card">
    <div class="header">
        <h2 class="titulo">¿Cómo hago una transferencia?</h2>
    </div>
    <div class="main">
        <p>
            Por problemas con el provedor, de momento no contamos con este servicio 
        </p>
    </div>
</div></div>
