<div class="container">


    <section class="dates">


        <article class="information">
            <div class="movements">
                <p class="text">Últimos movimientos:</p>
                <div class="cards">

                    <div class="textSaldo">
                        
                            <h3>EGRESO</h3>
                        
                        <div *ngIf="infoAcountPayment;then tiene else noTiene"></div>

                        <ng-template #tiene>
                            <p>Número de transacción : {{infoAcountPayment[0]?.id}}</p>
                            <p>Fecha: {{infoAcountPayment[0]?.createdAt | date: 'short' }}</p>
                            <p style="color:yellow"> Cantidad :-{{infoAcountPayment[0]?.amount | currency}} </p>
                        </ng-template>
                        <ng-template #noTiene>
                            <p>Aun no hay movimientos</p>
                        </ng-template>


                    </div>

                    <div class="textSaldo">
                        <div class="title">
                            <h3>INGRESO</h3>
                        </div>
                        <div *ngIf="infoAcountTopUp;then tieneToUp else noTieneToUp"></div>

                        <ng-template #tieneToUp>
                            <p>Número de transacción: {{infoAcountTopUp[0]?.id}}</p>
                            <p>Fecha: {{infoAcountTopUp[0]?.createdAt | date: 'short' }}</p>
                            <p style="color:rgb(0, 255, 68)">Cantidad : {{infoAcountTopUp[0]?.amount | currency }}</p>
                        </ng-template>
                        <ng-template #noTieneToUp>
                            <p>Aun no hay movimientos</p>
                        </ng-template>

                    </div>

                </div>

            </div>
        </article>

        
        <!-- <div class="banner">
            <img src="banner4.jpg">
        </div> -->
        
    </section>
    
    <section class="acount">
        <div class="header">
            <!-- <div class="containerImg">
                <div class="img">
                </div>
            </div> -->
            <h3 *ngIf="dataUser">{{dataUser.first_name}} {{dataUser.last_name}}</h3>
        </div>

        <div class="main">
            <p class="saldo">Puntos en la cuenta :</p>
            <p class="saldo" *ngIf="dataUser"> {{dataUser.points}}</p>

        </div>

        <div class="divisas">
            <app-tipo-cambio></app-tipo-cambio>
        </div>
        

    </section>
</div>