.container_table {
    width: 100%;
    overflow-x: auto;
}
.accordion{
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

.table_egresos {
    width: 100%;
    margin-top: 6rem;
    border-collapse: collapse;
}
.header_table{
    background-color: #7768b7;
}
.table_egresos th,
.table_egresos td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

@media (max-width: 700px) {
    .table_egresos th:not(:last-child),
    .table_egresos td:not(:last-child) {
        font-size: smaller;
    }
    .table_egresos th:nth-child(4),
    .table_egresos td:nth-child(4),
    .table_egresos th:nth-child(7),
    .table_egresos td:nth-child(7) {
        display: none;
    }

    .table_egresos th:last-child,
    .table_egresos td:last-child {
        font-size: smaller;
    }
}
.table_egresos tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
@media (max-width: 510px) {
    .table_egresos{
        font-size: smaller;
    }
    .table_egresos th:nth-child(5),
    .table_egresos td:nth-child(5){
        display: none;
    }
}


.bills{
    margin: auto;
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 100;
}
 
