$gradiant:linear-gradient(90deg,#1f1f34d2,#2c173cb9,#1f1f34b7);

.contenedor {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    align-items: center;
    text-align: center;
    
    font-family:Karma & Jasmine 'Roboto', sans-serif;
    margin: auto;
    // background-color: #664af1;
    // background-image: linear-gradient(161deg, rgb(46, 22, 135) 0%, rgba(88,9,121,1) 48%, rgba(40,3,115,1) 100%);;
    
}




.titulo {
    font-size: 2.4rem;
    color: #000000;
}

.loginForm {
    box-shadow: 0 0 2rem rgba(88, 2, 138, 0.518);
    // width: 30rem;
    height: 25rem;
    padding: 35px;
    background-color: #FAFAFB;
    border-radius: 20px;

}



.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.buttons .olvideContra {
    margin: 15px;
    color: black;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}


.loginForm .btnLogin,
.loginForm .btnRegister {
    border: none;
    padding: 15px;
    cursor: pointer;
    background: linear-gradient(161deg, rgba(55,0,255,1) 0%, rgba(88,9,121,1) 48%, rgba(40,3,115,1) 100%);;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin: 5px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}



.loginForm .btnLogin:hover,
.loginForm .btnRegister:hover {
    background: linear-gradient(161deg, rgb(43, 6, 179) 0%, rgb(69, 5, 97) 48%, rgb(35, 5, 94) 100%);


}

.loginForm .btnLogin:disabled {
    background:  0rem  1rem 1rem rgba(72, 8, 91, 0.258);;

    cursor: auto;
}



.invalidDates{
    color: #ff0000;
}

@media (max-width:750px) {
    .contenedor{
        margin-top: 90px;
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        height: auto;
    }
    
}


article{
    width: 50%;
    height: 100%;
    background-image: url('Wallet-pana2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
