/* You can add global styles to this file, and also import other style files */
// $gradiant:linear-gradient(90deg,#5f46c3,#9f89f8,#6d39d4,);
$gradiant:linear-gradient(90deg,#220138,#000000,#220040);
// $gradiant:linear-gradient(264deg,#1f1f34,#120782,#1f1f34);
// $gradiant:linear-gradient(264deg,#1f1f34d2,#2c173cb9,#1f1f34b7);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{background:transparent;}

body::-webkit-scrollbar{
  width: 7px;
  background-color: rgb(20, 9, 44);
}

body::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #2e015bd6;
}

div.fondo{
    width: 100%;
    height: 115vh;
    position: absolute;
    margin: 0 auto;
    display: flex;
    top: 0;
    background: transparent;
    z-index: -1;
    
}
div.glass{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    z-index: -1;
    top: 0;
    // backdrop-filter: blur(31px);

}
div.cortina{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    z-index: -2;
    // background-color: #240c31;
    background-image: $gradiant;
    top: 0;
    
}
div.elem1{
    width: 10rem;
    height: 9rem;
    background-color: rgb(143, 21, 219);
    display: flex;
    z-index: -2;
    position: absolute;
    left: 10%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0 0 70px 90px rgba(143, 21, 219);
    animation: move 20s infinite ease-out;
    transform: translate(-50%, -50%) translateX(40px);
}
div.elem2{
    width: 9rem;
    height: 10rem;
    background-color: rgb(255, 36, 219);
    display: flex;
    z-index: -2;
    position: absolute;
    left: 40%;
    top: 10%;
    border-radius: 50%;
    box-shadow: 0 0 70px 90px rgba(255, 36, 219);
    animation:  move2 20s infinite ease-in;

}

@keyframes move2 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translate(250px) rotate(-360deg);
    }
  }

  @keyframes move {
    0% {
      transform: translate(-50%, -50%) translateX(150px) rotate(0deg) translate(200px) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) translateX(150px) rotate(360deg) translate(200px) rotate(-360deg);
    }
  }


@media (max-width:950px) {
    div.fondo{
      min-height: 114vh;
      height: 100%;
      /* max-width: 100vh; */
    }
}
@media (max-width:900px) {
    div.fondo{
      min-height: 140vh;
    }
}
@media (max-width:550px) {
    body{
       /*  background-image:linear-gradient(90deg,#5f46c3,#9f89f8,#6d39d4); */
       background: transparent;
    }
    div.fondo{
      min-height:none;
    }
    @keyframes move {
      0% {
        transform: translate(-50%, -50%) translateY(150px) rotate(0deg) translate(10px) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) translateY(150px) rotate(360deg) translate(10px) rotate(-360deg);
      }
    }
    @keyframes move2 {
      0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(50px) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(50px) rotate(-360deg);
      }
    }
}




