<div class="footer_container">
  <div class="logo_container">
    <div class="img_container">
      
        <img src={{logoUrl}}
         alt="Logo"
         (click)="goToHome()"
         >
    </div>
    <p><i><mat-icon>copyright</mat-icon>2023 CodeBusters</i></p>
    </div>

    <input type="radio" id="label_up"
    name="accordion"  />
    <label id="label_up"  for="label_up">
    <mat-icon class="open">arrow_drop_up</mat-icon>
    
      <div class="container_twitter">

        <div class="twitter">
          <div id="cerrar_art" class="arrow_dawn">
            <input type="radio" id="cerrar"
              name="accordion" />
            <label for="cerrar" class="label_cerrar">
              <mat-icon class="close"> arrow_drop_down</mat-icon>
            </label>
          </div>
        <blockquote  class="twitter-tweet" data-theme="dark"><p lang="es" dir="ltr">¡Inauguramos nuestra oficina en Concordia, Entre Ríos!🚀<br><br>Este es el principio de muchas cosas que queremos hacer en la ciudad. ¡Estamos felices de haber dado el primer paso!👏🏻<a href="https://t.co/cmnXuiC3fW">https://t.co/cmnXuiC3fW</a></p>&mdash; Finnegans S.A. (@FinnegansSA) <a href="https://twitter.com/FinnegansSA/status/1374383037958352903?ref_src=twsrc%5Etfw">March 23, 2021</a></blockquote>
        </div>
      </div>

    </label>

  <div class="Column_Contact">
    <ul class="list_conditions">
      <li><a href="/">Contacto</a></li>
      <li><a href="https://www.argentina.gob.ar/servicio/iniciar-un-reclamo-ante-la-direccion-nacional-de-defensa-del-consumidor-y-arbitraje-del">
      Defensa al Consumidor</a></li>
      <li><a href="https://vitawallet.io/terminos-y-condiciones">
        Terminos y Condiciones</a></li>
    </ul>
    <app-nav-links [links]="navLinks"></app-nav-links>
  
  </div>
</div>

